/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*content planing



*/

/*them style*/
body{
    font-family: 'Roboto', sans-serif;
    color:  #999999;
}

p{
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #B3B3B3;
     margin-top: 25px;
}

/*=====================================Global class==========================*/

.transparent{
    background: transparent;
}

.no-border{
     border: none !important;
}

.vertical-bar{
    height: 3px;
    width: 60px;
    background: #fff;
    display: block;
    margin: 45px auto;
}

.text-header span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.text-header h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.text-header .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

/*================end of global-class================*/

/*navigation*/
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase .navbar .container {
    width: auto;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #F9CB83;
    background-color: transparent;
	text-decoration: underline;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background: transparent;
    color: #fce38a;
}

/*slider*/
.slider{
    background: url("../img/slider-bg-content.jpg") no-repeat center center / cover;
    position: relative;
    min-height: 500px;
}

#mogo-slider{
    padding:150px 0;
}

.slider:after {
    content: "";
    background: #e68180; /* Old browsers */
    background: -moz-linear-gradient(top, #e68180 0%, #e9cf82 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e68180 0%, #e9cf82 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e68180 0%, #e9cf82 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e68180', endColorstr='#e9cf82', GradientType=0); /* IE6-9 */
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*carousel*/
.carousel-inner{
    z-index: 1;
}

.carousel-inner p {
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;

}

.carousel-inner h3 {
    font-size: 150px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.carousel-inner .creative {
    line-height: 90px;
    margin-bottom: 15px;
}

.carousel-indicators {
    width: 100%;
    left: 0;
    padding-left: 0;
    margin-left: 0;
}

.carousel-indicators li, .carousel-indicators .active {
    text-indent: initial;
    width: 20%;
    height: 3px;
    border: none;
    background: #fff;
    margin: 0 15px 0 0;
    opacity: 0.5;
}

.carousel-indicators .active {
    position: relative;
    opacity: 1;
}

.carousel-indicators .active:after {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    background: #f38181;
    width: 30%;
    top: 0;
}

.carousel-indicators li .indicator-inner {
    display: block;
    padding-top: 26px;
    text-align: left;
}

.carousel-indicators li span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
}

.carousel-indicators li span.number {
    font-weight: 500;
    font-size: 24px;
    margin-right: 5px;

}

.slider-content .btn {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    padding: 8px 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms;
}

.slider-content .btn:hover {
    background: #f38181;
    border: 2px solid #f37886;
}


/*==============style of "about-us-area===========*/
.about-us-area{
    padding: 85px 0 0 0;
}

.about-details{
    position: relative;
    display: block;
    overflow: hidden;
    transition: all 500ms;
}

.about-details:hover{
    -webkit-box-shadow: 10px 10px 0px 6px rgba(124,207,192,0.8);
    -moz-box-shadow: 10px 10px 0px 6px rgba(124,207,192,0.8);
    box-shadow: 10px 10px 0px 6px rgba(124,207,192,0.8);
}

.about-details:hover:after .about-details:after{
    content: "";
    background: #e68180; /* Old browsers */
    background: -moz-linear-gradient(top, #e68180 0%, #e9cf82 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e68180 0%, #e9cf82 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e68180 0%, #e9cf82 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e68180', endColorstr='#e9cf82', GradientType=0); /* IE6-9 */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 1;
    display: block;
    transition: all 300ms;
}

.about-details:after{
    opacity: 0;
    transition: all 500ms;
}

.about-content a {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 3;
}

.about-content a:hover {
    text-decoration: none;
}

.about-details .link-icon span {
    font-size: 18px;
    color: #fff;
}

.about-details .link-icon i {
    display: block;
    margin-bottom: 15px;
    font-size: 30px;
    color: #fff;
}

.about-content .link-icon {
    z-index: 3;
    display: none;
    padding: 88px 0;
    transition: all 500ms;
    background-color: #D28383;
    opacity: 0.8;
}

.about-details:hover .link-icon {
    display: block;
}

.about-content-section {
    padding: 106px 0;
}

/*===========style of company-achievment-area=========*/
.company-achievment-area{
    background: #95e1d3;
}

.company-achievment-area ul{
    width: 100%;
   margin-left: 45px;
}

.company-achievment-area ul li{
    width: 18%;
    padding: 50px 0;
    border-right: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.company-achievment-area ul li:first-child {
    border-left: 1px solid #b5eae0;
}

.company-achievment-area ul li span {
    display: block;
}

.company-achievment-area ul li span.count-number {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}


/*==============style of amazin-service-area=============*/
.amazin-service-area{
    padding: 85px 0 85px 0;
}


.amazin-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

.we-work-with span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.we-work-with h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.single-element1 p{
    line-height: 26px;
   
}

.single-element1 i{
    margin-left: -30px;
    color: #A1D4CB;
}

.single-element1 span{
    margin-left: 10px;
}

.single-element2{
    border-top: 1px solid #E4E4E4;
    width: 100%;
}

.single-element2 i{
    margin-left: -30px;
    margin-top: 20px;
    color: #A1D4CB;
}

.single-element2 span{
    margin-left: 10px;
    margin-top: 20px;
}


.photography{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size:14pt;
}

/*===============style of unique-design-area=====================*/
.unique-design-area{
    background-image: url("../img/bg-hill.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 850px;
    width: 100%;
    position: relative;
}

.unique-design-wrap:after {
    content: "";
    background: #F0F0F0; /* Old browsers */
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F0F0F0 0%, #EEEEEE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#e9cf82', GradientType=0); /* IE6-9 */
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.unique-mobile .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

.unique-mobile span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    display: block;
    z-index: 2;
}

.unique-mobile h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
    z-index: 2;
}

.unique-mobile {
    padding: 85px 0 0 0;
    position: relative;
    z-index: 1;
}

.mobile1 img{
    position: absolute;
    left: 266px;
    top: 268px;
     z-index: 1;
}

.mobile2 img{
    position: absolute;
    left: 647px;
    top: 473px;
     z-index: 1;
}


/*==========style of acordition========*/
.accordion-area{
    padding: 85px 0;
}
.accordion-text span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.accordion-text h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.accordion-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

.down i{
    float: right;
}

.panel-heading a{
    text-decoration:none;
}

.panel-body p{
    margin-top: 0;
}

.panel-heading{
    position: relative;
}

.panel-title .collapsed i{
    transform: rotate(180deg);
}

.panel-heading span.collaps-design{
    position: absolute;
    top: 20px;
    left: 60px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
    height: 190px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: #95e1d3;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: #95e1d3;
}


/*=============style of ==============*/
.service-bottom-area{
    background-color: #f8f8f8;
    padding: 90px 0;
}

.quote-content p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

span.author-bar{
    display: inline-block;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-right: 10px;
    margin-top: 40px;
}

span.author{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #222222;
}

a.right.service-bottom-control{
    font-size: 50px;
    color: #999999;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 1;
}

a.left.service-bottom-control{
    font-size: 50px;
    color: #999999;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.quote-img img{
    padding-top: 35px;
}


/*============style of meet_our_team_area=============*/
.meet-our-team-area{
    padding: 85px 0 85px 0;
    width: 100%;
    position: relative;
}
.meet-our-team-text span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.meet-our-team-text h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.meet-our-team-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

.meet-our-team-area p{
    text-align: center;
   padding: 10px 0;
}
.meet-our-team-area h2::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #f38181;
    position: absolute;
    top: 217px;
    left: 623px;
}
/*hover*/
.wrapper{
    height: 470px;
    width: 380px;
    overflow: hidden;
}
.wrapper img{
    height: 100%;
    width: 100%;
    margin-top: 30px;
}

.element{
	  height: 470px;
	  width: 380px;
	  transition: transform 300ms;
	  opacity: 0.6;
	  background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(red, yellow); /* Standard syntax */
     position: relative;
}


.wrapper:hover .element{
    transform: translatey(-473px);
}
.text-latter{
    width: 257px;
    height: 58px;
    background-color: #fce38a;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    margin-top: 200px;
    display: none;
    margin-left: 57px;
}
.wrapper:hover .text-latter{
    display: block;
}
.text-latter ul li{
    display: inline-block;
}

.text-latter ul{
    padding-top: 17px;
}

.text-latter ul li a{
    content: "\f09a";
    padding: 21px 24px;
    color: #fff;
}

.text-latter ul li a:hover{
    background: #f38181;
}


.text-latter ul li.active a:hover{
    background-color:  #F38181;
}


.meet-our-team-area h5{
    text-align: center;
    color: #000;
    margin-top: 15px;
}
.meet-our-team-area h6{
    text-align: center;
    color: #B3B3B3;
}

/*============style of marketing-area==========*/

.marketing-area{
    padding: 85px 0;
    background: #F8F8F8;
}

.marketing-wrap ul li{
    display: inline-block;
    margin-left: 37px;
}



/*=============style of someof-our-work-area==========*/
.someof-our-work-area{
    padding: 85px 0 0 0;
    width: 100%;
}

.someof-our-work-text span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.someof-our-work-text h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.someof-our-work-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}
.someof-our-work-area h2::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #f38181;
    position: absolute;
    top: 200px;
    left: 547px;
}

.someof-our-work-text p{
    padding:50px 50px 100px 50px;
}

.gallery-content1.col-md-4{
    padding: 0 auto;
}

/*hover*/
.gallery-wrap{
    height: 300px;
    width: 337px;
    overflow: hidden;
    margin-left: -15px;
}
.gallery-wrap img{
    height: 100%;
    width: 100%;
}

.element-wrap{
    height: 300px;
    width: 337px;
    opacity: 0.6;
  background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, yellow); /* Standard syntax */

    transition: transform 300ms;
    position: relative;
}
.gallery-wrap:hover .element-wrap{
    transform: translatey(-303px);
}
.text-latter-wrap{
    width: 70%;
    height: 60px;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    margin-top:200px;
    display: none;
    margin-left:57px;
}

.text-latter-wrap img{
    height: 30px;
    width: 30px;
    margin-left: 43%;
    margin-top: -40%;
}


.text-latter-wrap span.design{
    text-transform: uppercase;
    color: #FFFEFA;
    margin-left: -36%;
    top: -35px;
    position: absolute;
}

.text-latter-wrap a{
    text-decoration:none;
}

.text-latter-wrap span.dolor{
    color: #FFFEFA;
    margin-left: -32%;
    position: absolute;
    top: -13px;
}

.gallery-wrap:hover .text-latter-wrap{
    display: block;
}
.text-latter-wrap ul li{
    display: inline-block;
    color: #F38181;
}





/*=============style of jonedeo-area=============*/
.jonedeo-area{
    background-color: #f8f8f8;
    padding: 85px 0;
}

.quote-content p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

span.author-bar{
    display: inline-block;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    margin-right: 10px;
    margin-top: 40px;
}

span.author{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #222222;
}

a.right.jonedeo-cerousel-control{
    font-size: 50px;
    color: #999999;
    position: absolute;
    right: 50px;
    top: 50px;
    z-index: 1;
}

a.left.jonedeo-cerousel-control{
    font-size: 50px;
    color: #999999;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.quote-img img{
    padding-top: 35px;
}


/*=============style of what-people-area=============*/

.what-people-area{
    height: 800px;
    width: 100%;
    background-image: url("../img/bg-mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.what-people-area-bg{
    padding: 35px 0 0 0;
    height: 100%;
    width: 100%;
    background: #f0f0f0; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f0f0 0%, #f0f0f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f0f0 0%, #f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #F0F0F0 0%, #f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#e9cf82', GradientType=0); /* IE6-9 */
    opacity: 0.8;
}

.someof-our-work-text span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}


.someof-our-work-text h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.someof-our-work-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}

.what-people-area h2::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #f38181;
    position: absolute;
    top: 200px;
    left: 547px;
}
.what-people-area img{
    margin-top: 60px;
}
.what-people-area h4{
    margin-top: 60px;
    margin-left:50px;
    color: #000;
}
.what-people-area h5{
    margin-left: 50px;
    margin-top: 10px;
}

.what-people-area h5:after{
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 109px;
    left: 68px;
    background: #F38181;
}


.what-people-area p{
    margin-left: 50px;
    margin-top: 10px;
    color: #AEAEAE;
}

/*=================style of latest_blog_area==========*/
.latest-blog-area{
    padding: 85px 0 50px 0;
    width: 100%;
    position: relative;
}

.latest-blog-text span{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.latest-blog-text h3{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin-top: 15px;
}

.latest-blog-text .vertical-bar{
    height: 3px;
    width: 60px;
    background: #D08182;
    display: block;
    margin: 45px auto;
}
.latest-blog-area h2::after {
    content: "";
    height: 2px;
    width: 100px;
    background-color: #f38181;
    position: absolute;
    top: 200px;
    left: 547px;
}
.latest-blog-area img{
    margin-top: 47px;
}

.january{
    height: 70px;
    width: 60px;
    background: #95E1D3;
    position: absolute;
    top: 217px;
    left: 15px;
}

.january span.number {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 4px;
    left: 18px;
}

.january span.year{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 46px;
    left: 7px;
}


.january span.date{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: 26px;
    left: 3px;
}
.latest-blog-area h4{
    margin-top: 20px;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.latest-blog-area h6{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin:20px 0;
    color: #999999;
}

.twitter-icon{
    border-top: 1px solid #E5E5E5;
}

.twitter-icon ul li{
    display: inline-block;
}

.twitter-icon a i{
    color: #95E1D3;
}

/*===================style of map-area==========*/
.one-map-area{
    background: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.one-map-area h4{
    text-align: center;
    color: #F38181;
    font-size: 24pt;
    margin-top: 80px;
}

/*===================style of footer_area==========*/
.footer-area{
    padding: 60px 0 65px 0;
    width: 100%;
    padding: 10px 0;
    position: relative;
}
.footer-area h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 46pt;
    color: #CCCCCC;
    margin-top: 50px;
}
.footer-area p{
    color: #CCCCCC;
    text-align: justify;
    margin-top: 10px;
}

.blog{
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    font-size: 14px;
    position: absolute;
    top: 70px;
}

.fimg1 span.instagram{
    font-size: 14px;
}

.fimg1 ul{
    margin-top: 108px;
}

.fimg1 ul li {
    margin-top: 10px;
}

.footer-area h5{
    margin-top: 65px;
    margin-left:60px;
}
.footer-area h6{
    margin-left:60px;
    margin-top: 10px;
    color: #ABABAB;
    font-family: 'Roboto', sans-serif;
}
.fimg2 img{
    margin-top: 40px;
}

.social-icon{
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

.social-icon ul li{
    display: inline-block;
}

.social-icon ul{
    margin-left: 81px;
    margin-top: -15px;
}

.social-icon span.follow{
    margin-top: 20px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 5px 5px;
    margin-top: 20px;
} 

.footer-type{
    position: relative;
    margin-bottom:60px;
}

.social-icon ul li i{
    color: #96E2D6;
    margin-left: 20px;
}

.footer-type a.btn{
    position: absolute;
    top: 19px;
    left: 195px;
    background: #96E2D6;
    border:1px solid #96E2D6;
}

.feture-memory ul li a{
    text-decoration: none;
    color: #525252;
}

.feture-memory ul li a.date{
    color: #CDCDCD;
}

.feture-memory ul{
    margin-top: 115px;
    margin-left: 40px;
}

.feture-memory ul li{
    margin-top: 20px;
}
/**/
.footer-img-gallery1 ul li{
    display: inline-block;
    position: relative;
}

.full-gallery-footer{
    margin-top: 105px;
}

.full-gallery-footer span.instagram{
    font-family: 'Montserrat', sans-serif;
    color: #363636;
    font-size: 14px;
    position: absolute;
    top: 70px;}


/*============style of footer_down_area=========*/
.footer-down-area{
    height: 50px;
    width: 100%;
    border-top: 1px solid #e2e2e2;
}
.footer-down-area p{
    text-align: center;
}



/*========================style of media suery=====================*/
@media (max-width: 320px) {
    .carousel-inner p {
    font-size: 32px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.carousel-inner h3 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
/*==amazin==*/

.single-element1 i{
    margin-left: 30px;
    color: #A1D4CB;
}

.single-element1 span{
    margin-left: 10px;
}

.single-element1 p{
    text-align: justify;
    margin-left: 30px;
}

.single-element2 i{
    margin-left: 30px;
    color: #A1D4CB;
}

.single-element2 span{
    margin-left: 10px;
}

.single-element2 p{
    text-align: justify;
    margin-left: 30px;
}

/*==mobile==*/
.mobile1 img{
    position: absolute;
    left: 0px;
    top: 268px;
     z-index: 1;
}

.mobile2 img{
    position: absolute;
    left: 63px;
    top: 473px;
     z-index: 1;
}
/*==what==*/
.what-people-area h5:after{
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 50px;
    left: 68px;
    background: #F38181;
}

.what-people-area{
    padding: 50px 0;
    height: 800px;
}



}



#scrollUp{
    background-image: url("../img/top.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    right: 50px;
    bottom: 50px;
    text-indent: -99999px;
}







